<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/original/oT9tonZ8TDwAXrvx9U4bH5uyuy3.jpg">
    </ion-card-header>

    <ion-item color="dark" routerLink="/riverdale">
      <h1> Riverdale <span>(2017)</span></h1>
    </ion-item>

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-14</span> <span class="duracao">45min</span>
        <p>Drama, Mistério</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Enquanto tentam lidar com problemas típicos da adolescência como amor, sexo, escola e família, Archie e sua
          turma se envolvem em um grande mistério.</p>
      </div>
    </ion-item>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w500_and_h282_face/pn6PSwyo2FoZDmdvHQ49RYwM4oI.jpg">
    </ion-card-header>

    <ion-item color="dark" routerLink="/greys-anatomy">
      <h1> Greys Anatomy <span>(2005)</span></h1>
    </ion-item>

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-14</span> <span class="duracao">43min</span>
        <p>Drama</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Os médicos do Grey Sloan Memorial Hospital lidam diariamente com casos e consequências de vida ou morte. É um no outro que eles encontram apoio, conforto, amizade e, às vezes, até mais que amizade... 
          Juntos, eles descobrem o quanto a vida profissional e a pessoal podem ser complicadas e se misturarem no meio do caminho.</p>
      </div>
    </ion-item>
  </ion-card>
</ion-content>