<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/original/oT9tonZ8TDwAXrvx9U4bH5uyuy3.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1> Riverdale <span>(2017)</span></h1>
    </ion-item>

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-14</span> <span class="duracao">45min</span>
        <p>Drama, Mistério</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Enquanto tentam lidar com problemas típicos da adolescência como amor, sexo, escola e família, Archie e sua
          turma se envolvem em um grande mistério.</p>
      </div>
    </ion-item>
  </ion-card>
</ion-content>