<ion-header >
  <ion-toolbar color="danger"> 
    <ion-title>
     Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>Friends</h2> 
      <p>1994 &nbsp;&nbsp; 14 &nbsp;&nbsp; 10 temporadas</p>
      <ion-button  color="danger" size="small">ASSISTIR</ion-button>
      <ion-button  fill="outline"  color="light" size="small">EPISÓDIOS</ion-button>
    </div>
  </div>

  <ion-grid>
    <h1>Populares</h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/original/1SIlV2p8355FAuKTGje9ZgtXujN.jpg">
      </ion-col>
    
      
      <ion-col>
        <img src="https://image.tmdb.org/t/p/original/1ctXU1e6PIWeM6BZRpU61JvVBHh.jpg">
      </ion-col>
    </ion-row>

    <h1>Em cartaz</h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/original/r5ILI8o8LkMe4X86RGRSUQbk6QQ.jpg">
      </ion-col>
    
      
      <ion-col>
        <img src="https://image.tmdb.org/t/p/original/dhrqytLatpNdCgy79dAK2VVHxw7.jpg">
      </ion-col>
    </ion-row>

    <h1>Mais bem avaliados</h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/original/q5Sj4pMaKpdMyywQIJhexNvCZYz.jpg">
      </ion-col>
    
      
      <ion-col>
        <img src="https://image.tmdb.org/t/p/original/uwyySfv4kybDpVebZhyb0Bnk3dz.jpg">
      </ion-col>
    </ion-row>

    <h1>Próximas Estreias</h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/original/mDYG6e2ycBoG8YzSz1nW28t2Gxe.jpg">
      </ion-col>
    
      
      <ion-col>
        <img src="https://image.tmdb.org/t/p/original/mDt3GkephI5yrRsEgLfdo3MYxyj.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
